@import "./tailwind.css";
@import "./assets/fonts/stylesheet.css";

body {
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  font-family: 'Beni';
}

.heal-spirit{
  top:-20px;
  right: -192px;
}
